@{
    ViewData["Title"] = "Подтвердить Email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Спасибо, что подтвердили свой адрес электронной почты. Теперь вы можете войти в систему.
    </p>
</div>